body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #faf5ee;
    color: #333;
}

header{
    background-color: #1fd1f1;
    color: white;
    padding: 20px 0;
    text-align: center;

}

header h1{
    margin: 0;

}

nav ul{
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 30px;

}

nav  a:hover{
    color: #fff;
    box-shadow: 0 2px 0 0 #fff;

}
nav a{
    transition: box-shadow 0.3s, color 0.3s;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 0 0 transparent;
}

.destaque {
    background-color: #fff3e0;
    text-align: center;
    padding: 40px 20px;
    margin: 30px auto 20px auto;
    border-radius: 8px;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.07);
}

.destaque h2{
    margin-top: 0;
}

.botao{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #1fd1f1;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.2s;
}

.botao:hover{
    background-color: #1cbedb;
}

.sobre{
    max-width: 600px;
    margin: 0 auto 40px auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.07);

}

footer{
    background: #1fd1f1;
    color: white;
    text-align: center;
    padding: 12px 0 ;
    font-size: 0.9rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}